<div class='disb-rec-interface'>
  <div class='row'>
    <center>

    </center>
  </div>
</div>
<div class='disb-rec'>
    <div class="large-5 columns">
      <label> Braintree Transactions </label>
      <table>
        <thead>
          <tr>
            <th width='5%'><input id="all_orders" name="all_orders" type="checkbox"> </th>
            <th width='27.5%'> Date </th>
            <th width='17.5%'> Trans </th>
            <th width='22.5%'> Gross Total </th>
            <th width='22.5%'> Net Total </th>
            <th width='10%'> Rec'd </th>
          </tr>
        </thead>
        <tbody>
          <% @braintree_rec.grouped_transactions.reverse.each do |date| %>
          <tr>
            <td><input name="bt_disb" type="checkbox"></td>
            <td><%= date[:disb_date] %></td>
            <td><%= date[:orders].size %></td>
            <td><%= Money.amt(date[:orders].map { |order| order[:amt] }.sum) %></td>
            <td class='net-amt'><%= date[:orders].map { |order| order[:net_amt] }.sum.round(2) %></td>
            <td><%= date[:recd] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="large-3 columns">
      <label> BofA Disbursements </label>
      <table>
        <thead>
          <tr>
            <th width='5%'><input id="all_orders" name="all_orders" type="checkbox"> </th>
            <th width='40%'> Date </th>
            <th width='70%'> Net Total </th>
          </tr>
        </thead>
        <tbody>
          <% @braintree_rec.bofa_data.each do |date| %>
          <tr>
            <td><input name="bofa_disb" type="checkbox"></td>
            <td><%= date[:disb_date] %></td>
            <td class='net-amt'><%= date[:amt] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='large-4 columns'>
      <div class='rec-totals columns panel callout radius'>
        <center>
          <table>
            <tr>
              <td width='70%'>
              <h3>Braintree</h3>
              </td>
              <td>
              <h3>$<span class='braintree-total'>0.00</span></h3>
              </td>
            </tr>
            <tr>
              <td>
              <h3>BofA</h3>
              </td>
              <td>
              <h3>$<span class='bofa-total'>0.00</span></h3>
              </td>
            </tr>
            <tr>
              <td>
              <h3>Check</h3>
              </td>
              <td>
              <h3>$<span class='check-total'>0.00</span></h3>
              </td>
            </tr>
          </table>
        </center>
      </div>
    </div>
  </div>
    
    <center>
      <img src='/assets/loader.gif' class='hide loading'>
    </center>
