<div class="row">
  <div class="large-12 columns text-center">
    <h3>Kitter Dashboard<h3>
  </div>
</div>

<div class="row" style="height:1000px">
  <div class="large-4 columns text-center">
    <h5>Sign Ups Outstanding</h5>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Id</th>
          <th width='500'>Name</th>
          <th>Amt</th>
        </tr>
      </thead>
      <tbody>
        <% @os_signups.each_with_index do |signup,index| %>
          <tr>
            <form name="new-signup" action="/subs-with-trans/" method="post">
              <td>
                <a href="#" class="new-sub-signup" data-cid='<%=signup.cid%>'>
                  <%=signup.created_at.strftime('%m/%d')%>
                </a>
              </td>
              <td>
                <a href="https://zoraab.chargify.com/subscriptions/<%=signup.cid%>" target="_blank">
                  <input type="hidden" name="cid" value="<%=signup.cid%>">
                  <%=signup.cid%>
                </a>
              </td>
              <td><%=signup.name%></td>
                  <input type="hidden" name="trans_id" value="<%=signup.trans_id%>">
              <td><%=signup.amount%><input type="submit" value="submit"></td>
            </form>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-4 columns text-center">
    <h5>Renewals Outstanding</h5>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Id</th>
          <th width='500'>Name</th>
          <th>Amt</th>
        </tr>
      </thead>
      <tbody>
        <% @os_rens.each do |renewal| %>
          <tr>
            <td><%=renewal.created_at.strftime('%m/%d')%></td>
            <td><a href="https://zoraab.chargify.com/subscriptions/<%=renewal.cid%>" target="_blank"><%=renewal.cid%></a></td>
            <td><%=renewal.name%></td>
            <td><%=renewal.amount%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-4 columns text-center">
    <h5>Pending Orders</h5>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Order</th>
          <th>Name</th>
          <th>Batch</th>
        </tr>
      </thead>
      <tbody>
        <% @pending_orders.each do |order| %>
          <tr>
            <td><%=order.created_at.strftime('%m/%d')%></td>
            <td><a href="/orders/<%=order.id%>" target="_blank"><%=order.order_number%></a></td>
            <td><a href="/subs/<%=order.sub.id%>" target="_blank"><%=order.name%></a></td>
            <td><a href="/batches/<%=order.batch_id%>" target="_blank"> <%=order.batch_id%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>


</div>

