<div data-sub="<%=sub_id%>">
  <% items.times do |item| %>
    <div class="left" data-item="<%=item%>" style="padding: 0 10px">
      <div class="preview-image text-center"></div>
      <div class="text-center hide next-arrow"><a class="next-link" data-item="<%=item%>" data-subid= <%=sub_id%> href="#">&raquo;</a></div>
      <div><%= text_field_tag 'item[]', nil , class: 'selection' %></div>
    </div>
  <%end%>
</div>

