<div class="row">
  <div class="large-4 columns">
    <h4> Subscription - <%=@sub.cid%></h4>
  </div>
  <div class="large-5 columns button-bar">
    <ul class="button-group radius round">
      <% @sub.prefs.each do |pref| %>
      <li class="small button secondary alert success"><%=pref.pref.capitalize%></li>
      <% end %>
    </ul>
  </div>
  <div class="large-2 columns">
    <div data-alert class="alert-box">Status: <%=@response[:status]%></div>
  </div>
</div>

<div class="row">
 <div class="large-4 columns">
    <div class="panel">
      <h5> Subscriber Details </h5>
      <p><%=@response[:name]%><br>
      <%=@response[:email]%><br>
      <%= @response[:plan]%><br>
      $<%= @response[:price]%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Shipping Address </h5>
      <p><%= @response[:shipping_address][:name] %><br>
      <%=@response[:shipping_address][:address] %> <%=@response[:shipping_address][:address2] %><br>
      <%=@response[:shipping_address][:city] %>,
      <%=@response[:shipping_address][:state] %>
      <%=@response[:shipping_address][:zip] %><br>
      <%=@response[:shipping_address][:country] %>
      <%=@response[:shipping_address][:phone]%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Billing Address </h5>
      <p><%= @response[:billing_address][:name] %><br>
      <%=@response[:billing_address][:address] %> <%=@response[:billing_address][:address2] %><br>
      <%=@response[:billing_address][:city] %>,
      <%=@response[:billing_address][:state] %>
      <%=@response[:billing_address][:zip] %><br>
      <%=@response[:billing_address][:country] %>
      <%=@response[:billing_address][:phone]%></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h4>Items</h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">

    <%= form_for @order, url: sub_orders_path do |f| %>
      <table>
        <tbody>
          <tr>
            <td>

    <%= render partial: "order_input", locals: {items: @response[:items], sub_id: @sub.id.to_s} %>
            </td>
          </tr>
        <tbody>
      </table>
      <a id ='generate-button' href="#" class="button ungen">Generate<a>
      <%= submit_tag("Save", class: 'button') %>
      <%= submit_tag("Save and Update Shopify", class: 'button') %>
    <% end %>
  </div>
  <div class="large-7 columns left">
  </div>
  </div>
</div>
