<div class="row">
  <div class="large-12 columns">
    <h4> Fulfill Subscriptions </h4>
  </div>
</div>

  <div class="large-12 columns">

    <table>
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Date</th>
          <th class="text-center">Selections</th>
          <th width="50" class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <%@subs.each_with_index do |sub,index|%>
          <tr>
            <td class="text-center">
              <span data-tooltip class="has-tip" title="<%=sub[:name]%>"><a href="/subs/<%=Sub.find_by(cid: sub[:id]).id %>" target="_blank"><%=sub[:id]%></a></span>
            </td>
            <td class="text-center"><%=sub[:next_pmt_date].strftime('%m/%d/%y')%></td>
            <td class="text-center">
              <%= form_for @orders[index], url: sub_orders_path(@orders[index]) do |f| %>
              <%= render partial: "order_input", locals: {items: sub[:items], sub_id: Sub.find_by(cid: sub[:id]).id.to_s} %>
            </td>
            <td>
              <a href="#" data-sub-id="<%= Sub.find_by(cid: sub[:id]).id %>"class="generate-button button tiny"><i class="fa fa-refresh"></i><a>
              <% end %>
              <a href="#" class="button tiny"><i class="fa fa-check"></i><a>
              <a href="#" class="button tiny delete-order"><i class="fa fa-trash-o"></i><a>

            </td>
          </tr>
        <%end%>
      </tbody>
    </table>

  </div>

