<div class="row">
  <div class="large-8 columns">
    <h4> Your New Subscription Order - <%=@order.order_number%></h4>
    <h6> <%= @order.trans_id ? 'Trans Id - ' + @order.trans_id.to_s : 'Payment Not Received'  %><h6>

  </div>
  <div class="large-4 columns">
    <h6><strong>Order Date:</strong> <%=@order.created_at.strftime('%a %d %b %Y')%></h6>
  </div>

</div>
<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h5> Subscriber Details </h5>
      <p><a href="/subs/<%=@order.sub.id%>"><%= @order.name %></a><br>
      <%= @order.email %><br>
      <%= @order.plan%><br>
      <%= @order.email %></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Shipping Address </h5>
      <p><%= @order.name %><br>
      <%= @order.address %> <%= @order.address2%><br>
      <%=@order.city%>, <%=@order.state%> <%=@order.zip%><br>
      <%=@order.country%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Billing Address </h5>
      <p><%=@order.billing_name%><br>
      <%=@order.billing_address%> <%=@order.billing_address2%><br>
      <%=@order.billing_city%>, <%=@order.billing_state%> <%=@order.billing_zip%><br>
      <%=@order.billing_country%></p>
    </div>
  </div>

</div>

<div class="row">
  <div class="large-8 columns">
    <h4>Order Summary</h4>
    <table>
      <thead>
        <tr>
          <th width="200"> SKU </th>
          <th> Preview </th>
        </tr>
      </thead>
      <tbody>
        <% @prods.each do |product| %>
          <tr>
            <td>
            <a href="<%=ENV['SITE']%>products/<%=product[:sku]%>" target="_blank">
              <%= product[:sku] %></a>
            </td>
            <td><div class='preview-image'><img src="<%= product[:small_pic] %>"></div></td>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="large-5 columns left">
    <%= link_to'Export',order_path(format: 'csv'), class: 'button' %>
    <a class="send-to-shipstation button" href="#" data-orderid='<%=@order.id%>' > Send to ShipStation </a>
  </div>
</div>
