<div class="row">
  <div class="large-8 columns">
    <h4> Your New Subscription Order - <%=@order.order_number%></h4>
  </div>
  <div class="large-3 columns">
    <h6><strong>Order Date:</strong> <%=@order.created_at.strftime('%a %d %b %Y')%></h6>
  </div>

</div>
<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h5> Subscriber Details </h5>
      <p><%= @order.name %><br>
      <%= @order.email %><br>
      <%= @order.plan%><br>
      <%= @order.email %></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Shipping Address </h5>
      <p><%= @order.name %><br>
      <%= @order.address %> <%= @order.address2%><br>
      <%=@order.city%>, <%=@order.state%> <%=@order.zip%><br>
      <%=@order.country%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Billing Address </h5>
      <p><%=@order.billing_name%><br>
      <%=@order.billing_address%> <%=@order.billing_address2%><br>
      <%=@order.billing_city%>, <%=@order.billing_state%> <%=@order.billing_zip%><br>
      <%=@order.billing_country%></p>
    </div>
  </div>

</div>

<div class="row">
  <div class="large-8 columns">
    <h4>Items</h4>
    <table>
      <thead>
        <tr>
          <th width="500"> SKU </th>
        </tr>
      </thead>
      <tbody>
        <% @order.products.each do |product| %>
          <tr> <td> <%= product.sku %></td></tr>
        <% end%>
      </tbody>
    </table>
  </div>

  <div class="large-4 columns">
    <a href="#" class="button [radius round]">Export</a>
  </div>
</div>
