
<div class="row">
  <div class="large-6 columns">
    <h4> Subscription - <%=@sub.cid%></h4>
  </div>
  <div class="large-4 columns">
    <h5><i>Member since <%=@sub.start_date(@response)%></i></h5>
  </div>
  <div class="large-2 columns">
    <div data-alert class="alert-box">Status: <%=@sub.status(@response)%></div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h5> Subscriber Details </h5>
      <p><%=@sub.name(@response)%><br>
      <%=@sub.email(@response)%><br>
      <%= @sub.plan(@response)%><br>
      <%= @sub.email(@response)%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Shipping Address </h5>
      <p><%= @sub.shipping_address(@response)[:name] %><br>
      <%=@sub.shipping_address(@response)[:address] %> <%=@sub.shipping_address(@response)[:address2] %><br>
      <%=@sub.shipping_address(@response)[:city] %>,
      <%=@sub.shipping_address(@response)[:state] %>
      <%=@sub.shipping_address(@response)[:zip] %><br>
      <%=@sub.shipping_address(@response)[:country] %>
      <%=@sub.shipping_address(@response)[:phone]%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Billing Address </h5>
      <p><%= @sub.billing_address(@response)[:name] %><br>
      <%=@sub.billing_address(@response)[:address] %> <%=@sub.billing_address(@response)[:address2] %><br>
      <%=@sub.billing_address(@response)[:city] %>,
      <%=@sub.billing_address(@response)[:state] %>
      <%=@sub.billing_address(@response)[:zip] %><br>
      <%=@sub.billing_address(@response)[:country] %>
      <%=@sub.billing_address(@response)[:phone]%></p>
    </div>
  </div>

  <%= link_to "Create Order", new_sub_order_path(@sub),class: 'button' %>
</div>

