
<div class="row">
  <div class="large-4 columns">
    <h4> Subscription - <%=@sub.cid%></h4>
  </div>
  <div class="large-5 columns button-bar">
    <ul class="button-group radius round">
      <% @sub.prefs.each do |pref| %>
      <li class="small button secondary alert success"><%=pref.pref.capitalize%></li>
      <% end %>
    </ul>
  </div>
  <div class="large-2 columns">
    <div data-alert class="alert-box">Status: <%=@response[:status]%></div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h5> Subscriber Details </h5>
      <p><%=@response[:name]%><br>
      <%=@response[:email]%><br>
      <%= @response[:plan]%><br>
      <%= @response[:start_date]%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Shipping Address </h5>
      <p><%= @response[:shipping_address][:name] %><br>
      <%=@response[:shipping_address][:address] %> <%=@response[:shipping_address][:address2] %><br>
      <%=@response[:shipping_address][:city] %>,
      <%=@response[:shipping_address][:state] %>
      <%=@response[:shipping_address][:zip] %><br>
      <%=@response[:shipping_address][:country] %>
      <%=@response[:shipping_address][:phone]%></p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="panel">
      <h5> Billing Address </h5>
      <p><%= @response[:billing_address][:name] %><br>
      <%=@response[:billing_address][:address] %> <%=@response[:billing_address][:address2] %><br>
      <%=@response[:billing_address][:city] %>,
      <%=@response[:billing_address][:state] %>
      <%=@response[:billing_address][:zip] %><br>
      <%=@response[:billing_address][:country] %>
      <%=@response[:billing_address][:phone]%></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
  <%= link_to "Create Order", new_sub_order_path(@sub),class: 'button' %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Order History</h4>
    <table>
      <thead>
        <tr>
          <th width="100">Order #</th>
          <th width="100">Date</th>
          <th>Items</th>
        </tr>
      </thead>
      <tbody>
        <% @sub.orders.each do |order| %>
        <tr>
          <td><a href="/orders/<%=order.id%>"><%=order.order_number%></a></td>
          <td><%=order.created_at.strftime('%m/%d/%y')%></td>
          <td>
            <ul class="inline-list">
              <% order.products.each do |product| %>
              <li><div class='preview-image'><img src="<%=Shopify.data(product.sku)[:small_pic]%>"></div></li>
              <%end%>
            </ul>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

