
<div class="large-12 columns">
<% if @subs.empty? %>
<div class="large-12 columns text-center">
  <h4> There are no outstanding subscriptions </h4>
</div>
<%else%>

  <div class="left generate-batch">
    <button class "button" >
      Generate All
    </button>
  </div>
  <div class="confirm-batch  left">
    <button class "button" >
      Confirm Batch
    </button>
  </div>
  <div class="hide left save-batch">
    <button class "button" >
      Save Batch
    </button>
  </div>
  <div class="hide left save-batch-and-update">
    <button class "button" >
      Save Batch
    </button>
  </div>
  <div class="hide left view-batch">
    <button class "button" onclick="location.href='/batches/<%=@batch.id%>'">
      View Batch
    </button>
  </div>
</div>


<div class="large-12 columns">

  <table>
    <thead>
      <tr>
        <th width="5%" class="text-center">Sub</th>
        <th width="2%" class="text-center">Date</th>
        <th width="3%" class="text-center">Prefs</th>
        <th width="85%" class="text-center">Selections</th>
        <th width="5%" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <%@subs.each_with_index do |sub,index|%>
        <tr data-subid="<%= Sub.find_by(cid: sub[:id]).id %>">
          <td class="text-center">
              <a href="/subs/<%=Sub.find_by(cid: sub[:id]).id %>" target="_blank">
                <%=sub[:id]%>
                <%=sub[:name]%>
              </a>
          </td>
          <%= form_for @orders[index], remote: true, data: { subid: @orders[index].sub_id }, url: sub_orders_path(@orders[index].sub_id) do |f| %>
          <td class="text-center">
            <%=sub[:next_pmt_date].strftime('%m/%d')%>
            <%= hidden_field_tag 'created_at', sub[:next_pmt_date] , class: '' %>
            <%= hidden_field_tag 'batch_id', @batch.id , class: '' %>
          </td>
          <td>
            <%=Sub.find_by(cid: sub[:id]).list_prefs%>
          </td>
          <td class="text-center">
            <div data-subid="<%= Sub.find_by(cid: sub[:id]).id %>" class="order-complete hide">
              <h5>Order Saved! <a href="/subs/<%=Sub.find_by(cid: sub[:id]).id%>/last-order" target="_blank"> Click Here for Order</a></h5>
            </div>
            <%= render partial: "orders/order_input", locals: {items: sub[:items], sub_id: Sub.find_by(cid: sub[:id]).id.to_s} %>
          </td>
          <td>
            <div data-subid="<%= Sub.find_by(cid: sub[:id]).id %>" class="vert-button-tray">
              <div class="editable" data-subid="<%= Sub.find_by(cid: sub[:id]).id %>">
                <a href="#" data-subid="<%= Sub.find_by(cid: sub[:id]).id %>"class="generate-button button tiny editable"><i class="fa fa-refresh"></i></a>

                <a href="#" data-subid="<%= Sub.find_by(cid: sub[:id]).id %>" class="button tiny confirm-order">
                  <i class="fa fa-check"></i>
                </a>
                <a href="#" data-subid="<%= Sub.find_by(cid: sub[:id]).id %>" class="button tiny delete-order editable">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
              <div class="uneditable hide" data-subid="<%= Sub.find_by(cid: sub[:id]).id %>">
                <a href="#" data-subid="<%= Sub.find_by(cid: sub[:id]).id %>" class="button tiny unconfirm-order">
                  <i class="fa fa-minus-circle"></i>
                </a>
                <%= button_tag(type: "submit", class: "save-order button tiny") do %>
                  <i class='fa fa-floppy-o'></i>
                <% end %>
                <i class="fa fa-cloud-upload"></i><%= check_box_tag(:update_shopify) %>
              </div>
            </div>
            <% end %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

<%end%>

</div>

