<div class="large-12 columns">
  <div class="left">
    <%= link_to'Export',batch_path(format: 'csv'), class: 'button' %>
  </div>
</div>

<div class="large-12 columns">
  <table>
    <thead>
      <tr>
        <th width='5%' class="text-center">Order</th>
        <th width='15%' class="text-center">Name</th>
        <th width='5%' class="text-center">Date</th>
        <th width='65%' class="text-center">Selections</th>
        <th width='5%'> Pmt </th>
        <th width='5%'> Ship </th>
      </tr>
    </thead>
    <tbody>
      <%@batch.sub_orders.each_with_index do |order,index|%>
        <tr>
          <td class="text-center">
            <a href="/orders/<%=order.id %>" target="_blank">
              <%=order.order_number%>
            </a>
          </td>
          <td><%=order.name%></td>
          <td><%=order.created_at.strftime('%m/%d/%y')%></td>
          <td>
            <% order.products.each_with_index do|product, index| %>
            <div class="left">
              <div class="preview-image text-center">
                <a href="<%=ENV['SITE']%>products/<%=product.sku%>" target="_blank">
                  <div><img src="<%=@product_data[product.sku][:small_pic]%>"></div>
                </a>
              </div>
            </div>
          <% end %>
          </td>
          <td>
            <%=order.pmt_status%>
          </td>
          <td>
            <%=order.ship_state%>
            <div <%=raw 'class="hide"' unless order.ship_state == 'Never Sent to Shipstation' && order.pmt_status == 'Recvd' %> >
              <a href="#" class="send-to-shipstation button tiny" data-orderid='<%=order.id%>' >
              Ship
              </a>
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

