<div class="large-12 columns">
  <div class="left">
    <%= link_to'Export',batch_path(format: 'csv'), class: 'button' %>
  </div>
  <div class="left">
    <button class='send-all-to-shipstation'> Send All to ShipStation </button>
  </div>
</div>

<div class="large-12 columns">
  <table>
    <thead>
      <tr>
        <th width='5%' class="text-center">Order</th>
        <th width='15%' class="text-center">Name</th>
        <th width='5%' class="text-center">Date</th>
        <th width='60%' class="text-center">Selections</th>
        <th width='5%'> Pmt </th>
        <th width='5%'> Ship </th>
        <th width='5%'> Sent to Shopify </th>
      </tr>
    </thead>
    <tbody>
      <%@batch.sub_orders.each_with_index do |order,index|%>
        <tr>
          <td class="text-center">
            <a href="/orders/<%=order.id %>" target="_blank">
              <%=order.order_number%>
            </a>
          </td>
          <td><%=order.name%></td>
          <td><%=order.created_at.strftime('%m/%d/%y')%></td>
          <td>
            <% order.products.each_with_index do|product, index| %>
            <div class="left">
              <div class="preview-image text-center">
                <a href="<%=ENV['SITE']%>products/<%=product.sku%>" target="_blank">
                  <div><img src="<%=@product_data[product.sku][:small_pic]%>"></div>
                </a>
              </div>
            </div>
          <% end %>
          </td>
          <td>
            <%=order.pmt_status%>
          </td>
          <td class='ship' data-orderid='<%=order.id%>'>
            <div class='ship-info'>
              <p class='ship-status'><%=order.ship_state%></p>
              <div <%=raw 'class="hide"' unless order.ship_state == 'Never Sent to Shipstation' && order.pmt_status == 'Recvd' %> >
                <a href="#" class="batch-send-to-shipstation button tiny" data-orderid='<%=order.id%>' >
                Ship
                </a>
              </div>
            </div>
            <center><img src='/assets/loader.gif' class='ship-loader hide'></center>
          </td>
          <td class='shopify' data-orderid='<%=order.id%>'>
            <div class='shopify-info'>
              <p class='shopify-status'><%=order.sent_to_shopify?%></p>
              <div <%=raw 'class="hide"' if order.post_to_shopify %> >
                <a href="#" class="send-to-shopify button tiny" data-orderid='<%=order.id%>' >
                Send
                </a>
              </div>
            </div>
            <center><img src='/assets/loader.gif' class='shopify-loader hide'></center>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

