<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "zoraab" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>

  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1><a href="/"><%= image_tag 'logo-socks.png'%></a></h1>
        </section>

      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>ZORAAB</label></li>
          <li><a id ="shopify_sync" class='long-load' href="#">Sync Inventory</a></li>
          <li><a href="/subs-upcoming/" class='long-load'>Fulfill Future Subs</a></li>
          <li><a href="/orders/" class="long-load">All Orders</a></li>
          <li><a href="/subs/" class="long-load">All Subscribers</a></li>
          <li><a href="/batches">All Batches</a></li>
          <li><a href="/search">Search Subscribers</a></li>
          <li><%= link_to "Add a New Subscriber", new_sub_path %></li>
        </ul>
      </aside>
      <section class="main-section">

<%= yield %>

      </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>

    <div class="overlay">
    </div>

    <div class='sys-msg'>

    </div>
    <div class="loader">
      <div id="ballWrapper" class="ballWrapper">
        <div id="ball"></div>
        <div id="ballShadow"></div>
      </div>
    </div>

  </body>
</html>
